*{
    /* margin-top: 100px; */
    padding: 0;
    font-size: 0.5rem;
}

body{
    background: linear-gradient(90deg, rgb(84, 130, 255), rgb(178, 126, 209));
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}



#logo{
    margin-top: 100px;
    float: left;
    border: 2px solid black;
    /* height: 70%; */
    /* margin: 1rem 0rem; */
    height: 60vh;
    width: 340px;
    height: 400px;
}

#sign{
    margin-top: 100px;
    float: right;
    /* border: 2px solid black; */
    height: 400px;
    width: 340px;
    margin-left: 10px;
    /* background-color: aliceblue; */
}

#signup{
    margin-top: 0;
    border: 2px solid black;
    /* height: 42vh; */
    width: 250px;
    margin-bottom: auto;
    background-color: aliceblue;
    overflow: auto;
    height: 287px;
}

#signin{
    display: flex;
    border: 2px solid black;
    align-items: center;
    /* height: 14.5vh; */
    width: 250px;
    height: 100px;
    background-color: aliceblue;
    overflow: auto;
    margin-bottom: 10px;
}

button{
    float:right;
    margin: 10px;
    padding: 7px;
    border: none;
    border-radius: 20%;
    background-color: rgb(90, 157, 216);
    color: aliceblue;
    cursor: pointer;
}

button:hover{
    background-color: rgb(109, 186, 238);
}

button:active{
    background-color: rgb(86, 139, 184);
    color: rgb(209, 214, 219);
}

h1{
    font-size: 2rem;
    text-align: center;
}

.block{
    width: 250px;
    display: block;
    margin: 5px 0;
}

label{
    display: inline-block;
    width: 80px;
    text-align: right;
}

input{
    vertical-align: top;
}